/*.root {
  height: 100%;
  max-width: 100%;
  background-color: #FFFFFF;
  padding: 0;
}

.page {
  position: relative;
  height: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0px ;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "main"
  "footer";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000000;
}

@media screen and (max-width:720px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}


.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  max-width: 880px;
  width: 100%;
  margin: 45px auto 0px;
  padding:0px;
  justify-content: start;
  border-bottom:1px solid rgba(84,84,84,.7);
}
@media screen and (max-width:720px) {
  .header {
    margin: 28px auto 0px;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 41px;
}

@media screen and (max-width:1279px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}



.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 100%;
  margin: 0px auto;
}




.profile {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr 150px ;
  margin: 40px auto 51px;
  width: 100%;
}


@media screen and (max-width:579px) {
  .profile {
    display: flex;
    flex-direction: column;
    width: calc(100% - 38px);
  }
}

.profile__avatar {
  border-radius: 50%;
}


.profile__info {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

@media screen and (max-width:640px) {
  .profile__info {
    margin: 26px 0px 36px; 
  }
}


.profile__intro{
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:640px) {
  .profile__intro{
    align-items:center; 
  }
}




.profile__title{
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #FFFFFF;
}

@media screen and (max-width:640px) {
  .profile__title{
    font-size: 27px;
    line-height: 33px;
  }
}


.profile__subtitle{
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin:16px 0px 0px 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width:640px) {
  .profile__subtitle{
    margin:14px 0px 0px 0px;
    font-size: 14px;
    line-height: 17px;
  }
}


.profile__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 24px;
  max-height: 24px;
  margin-top: 15px;
  margin-left: 18px;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .6;
}


@media screen and (max-width:640px) {
  .profile__edit {
    max-width: 18px;
    max-height: 18px;
    margin-top: 8px;
    margin-left: 10px;
  }
}

.profile__pen {
  width: 10px;
  height: 10px;
}

@media screen and (max-width:640px) {
  .profile__pen {
    width: 7.5px;
    height: 7.5px;
  }
}

.profile__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 150px;
  width: 100%;
  padding: 0px;
  border: 2px solid #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  margin-right: 0px;
  cursor: pointer;
}

.profile__add:hover {
  opacity: .6;
} 


.elemets {
  display: grid;
  max-height: 100%;
  max-width: 100%;
  margin: 0px auto;
  column-gap: 16px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}


@media screen and (max-width:579px) {
  .elemets {
    width: calc(100% - 38px);
  }
}



.elemet {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100%;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;

.elemet__image {
  max-width: 100%;
  border-radius:10px 10px 0px 0px;
}


.elemet__intro {
  padding:25px 15px 31px 21px;
  display: flex;
  max-height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  background-color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
}

.elemet__place {
  margin: 0px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elemet__like {
  margin: 0px;
  background-color: #FFFFFF;
  border: #FFFFFF;
  cursor: pointer;
}

.elemet__like:hover {
  opacity: .5;
}


.footer {
  grid-area: footer;
  margin: 67px auto 60px;
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:start;
}


@media screen and (max-width:577px) {
  .footer {
    margin: 48px auto 36px;
    width: calc(100% - 38px);
  }
}

.footer__copyright {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width:1042px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  grid-row: 1/4;
  grid-column: 1/2;
  margin: auto;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.5);
}

.popup_opened {
  display: flex;
}




.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 510px;
  width: 100%;
  max-height: 370px;
  height: 100%;
}

@media screen and (max-width:547px) {
  .popup__container {
    max-width: 282px;
    width: 100%;
    max-height: 322px;
    height: 100%;
  }
}


.popup__form{
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
  align-self: center;
  max-width: 430px;
  width: 100%;
  max-height: 330px;
  height: 100%;
  background-color:#FFFFFF;
  border-radius:10px; 
  padding: 34px 36px 37px;
}

@media screen and (max-width:547px) {
  .popup__form{
    padding: 25px 22px;
  }
}


.popup__profile {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0px 0px 54px;
  text-align: start;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px; 
  color: #000000;
}

@media screen and (max-width:547px) {
  .popup__profile {
    font-size: 18px;
    line-height: 22px; 
  }
}


.popup__input{
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px; 
  color: #000000;
  background-color: #FFFFFF;
  box-sizing: border-box;
  max-width: 358px;
  width: 100%;
  max-height: 27px;
  height: 100%;
  padding: 0;
  margin:0px auto 30px;
  border: #FFFFFF;
  border-bottom:1px solid rgba(0,0,0,.2);
}




.popup__edit {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 14px 0;
  flex-direction: column;
  width: 100%;
  margin: 18px 0px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #000000;
  border: #FFFFFF;
  cursor: pointer;
}

.popup__button {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  max-width: 32px;
  max-height: 32px;
  background:transparent;
  border: transparent;
  cursor: pointer;
}

.popup__button:hover {
  opacity: .6;
}

@media screen and (max-width:547px) {
  .popup__button {
    max-width: 22px;
    max-height: 22px;
    margin-bottom: 16px;
  }
}



@media screen and (max-width:547px) {
  .popup__cross {
    max-width: 22px;
    max-height: 22px;
  }
}*/
