.popup__container {
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content:center;
  max-width: 510px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: auto;
}

@media screen and (max-width:547px) {
  .popup__container {
    max-width: 282px;
  }
}