.popup__container {
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content:center;
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  padding: 0px;
  position: relative;
}

@media screen and (max-width:547px) {
  .popup__container {
    max-width: 282px;
  }
}