.profile__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 24px;
  max-height: 24px;
  margin-top: 15px;
  margin-left: 18px;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .6;
}


@media screen and (max-width:400px) {
  .profile__edit {
    max-width: 18px;
    max-height: 18px;
    margin-top: 8px;
    margin-left: 10px;
  }
}