.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  max-width: 880px;
  width: 100%;
  margin: 45px auto 0px;
  padding:0px;
  justify-content: start;
  border-bottom:1px solid rgba(84,84,84,.7);
}

@media screen and (max-width:720px) {
  .header {
    margin: 28px auto 0px;
  }
}