.profile__title{
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #FFFFFF;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width:400px) {
  .profile__title{
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
  }
}