.elements {
  display: grid;
  max-height: 100%;
  max-width: 100%;
  margin: 0px auto;
  column-gap: 16px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
}



@media screen and (max-width:960px) {
  .elements {
    width: calc(100% - 38px);
  }
}