.popup__container_imagepopup_container {
  max-width: 816px;
  max-height: 540px;
  width:100%;
  height:100%;
}


@media screen and (max-width:1100px) {
  .popup__container_imagepopup_container{
    height: 80vh;
    width: 80vw;
  
} 


@media screen and (max-width:547px) {
  .popup__container_imagepopup_container {
    max-width: 240px;
    max-height: 299px;
  }
}

